@media only screen and (min-width: 992px) {
  .job__details {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
  }
}

.job__details__cart {
  width: 424px;
  height: 461px;
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  border-radius: 8px;
  padding: 30px;
}
